@use "../" as *;

header {
  background-color: $white;
  @include flex-container($justify: space-between, $align: center);
  height: $xl;
  animation: 300ms ease-out 0s 1 slideInFromTop;
  .homeLogo {
    margin-left: $small;
    margin-top: $xs;
  }
  p {
    align-self: center;
    font-family: "Montserrat";
    font-size: $large;
  }
  ul {
    @include flex-container($justify: center, $align: center);
    list-style-type: none;

    li {
      padding: $xs;
      font-size: $font-links;
      img {
        margin-right: $small;
      }
    }
  }
}
.hamburger-lines {
  display: none;
  height: 100%;
  margin-top: $small;
  cursor: pointer;
}
.lines {
  height: $xs;
  width: $large + $small;
  background-color: $default-red;
  margin: $xs + $tiny $medium-large;
  padding: 0;
  border: $border-red;
  border-radius: $radius-small;
}
.hamburger-menu {
  display: "none";
  flex-direction: column;
  background-color: $white;
  left: $medium;
  top: $xxl;
  z-index: 4;
  justify-content: stretch;
  flex-grow: 1;
}
