@use "../" as *;

header {
  background-color: $white;
  @include flex-container($justify: space-between, $align: center);
  height: $xl;
  animation: 500ms cubic-bezier(0.4, 0, 0.2, 1) 0s 1 anim8;
  .homeLogo {
    margin-left: $small;
    margin-top: $xs;
  }
  p {
    align-self: center;
    font-family: "Montserrat";
    font-size: $large;
  }
  ul {
    @include flex-container($justify: center, $align: center);
    list-style-type: none;

    li {
      padding: $xs;
      font-size: $font-links;
      img {
        margin-right: $small;
      }
    }
  }
}
