@use "../" as *;

.main-content {
  flex-grow: 1;
  background-color: $white;
  border-radius: $radius-large;
  padding: $large $medium + $xs;
  overflow-x: auto;
  animation: 500ms cubic-bezier(0.4, 0, 0.2, 1) 0s 1 anim8;
}
.main-toogle {
  display: none;
}
