@use "../" as *;

.container {
  background: url('./assets/main/bg 2.jpg') 50% 50% no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: auto;
  @include flex-container($justify: center, $align: center);
}
.logo-container {
  max-width: 900px;
  @include flex-container($direction: column, $align: center);
  img {
    width: 80%;
  }
  a {
    text-align: center;
    font-size: $font-large;
    text-decoration: none;
    margin-top: 5 * $font-large;
    color: $white;
    background-color: $default-red;
    padding: $medium $xl;
    border-radius: $radius-small;
    box-shadow: $shadow-popup-button;
    transition: 0.5s;
    &:hover {
      background-color: $default-red-hover;
    }
    &:active {
      background-color: $default-red;
    }
  }
}
