@use "../" as *;

//Inventory Modal Properties
.item-management {
  background-color: $white;
  position: relative;
  z-index: 5;
  border-radius: $radius-large;
  padding: $font-medium;
  overflow: auto;
  .item-data {
    position: relative;
    height: 100%;
    @include flex-container($direction: column, $align: center);
    padding: 0 20px;
  }
  .item-image {
    max-width: 220px;
  }
}
