@use "../" as *;

.cardItem-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-content: start;
  justify-content: start;
  gap: $large;
}
.card-item {
  position: relative;
  box-shadow: $shadow-card-item;
  border-radius: $radius-small;
  display: flex;
  flex-direction: column;
  max-height: 225px;
  a {
    width: 100%;
    img {
      cursor: pointer;
      width: 100%;
      height: 160px;
      object-fit: contain;
      border-radius: $radius-card-item;
    }
  }
}
.item-options {
  flex-grow: 1;
  padding: $font-small;
  @include flex-container($align: center);
  &-info {
    flex-grow: 1;
    &-category {
      display: block;
      font-size: $font-small;
      color: $gray;
    }
  }
}
.dialog-image {
  object-fit: cover;
  width: 100%;
  max-height: 310px;
}
.bubbles {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
}
.tooltip {
  box-shadow: $shadow-popup;
  border-radius: $radius-medium;
}
