@mixin unfoldIn {
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@mixin unfoldOut {
  transform: scale(1);
  animation: unfoldOut 0.5s 0.35s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@mixin zoomIn {
  transform: scale(0);
  animation: zoomIn 0.5s 0.35s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
@mixin zoomOut {
    animation: zoomOut 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}
