@use "../" as *;
@media only screen and (max-width: 1250px) {
  .cardItem-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .logo-container {
    width: 70%;
    a {
      font-size: 20px;
      margin-top: 3em;
    }
  }
  .content {
    aside {
      max-width: 100%;
      flex-grow: 1;
      display: none;
      nav {
        height: 100%;
      }
    }
  }
  header {
    p {
      font-size: 1.125em;
      font-weight: 700;
    }
    ul {
      display: none;
    }
  }
  .main-toggle {
    display: none;
  }
  .cardItem-container {
    grid-template-columns: 1fr;
  }

  .card-item {
    width: 100%;
  }
  .main-content-inventory {
    align-items: flex-start;
    .add-new {
      width: auto;
      justify-content: flex-start;
      &-input {
        input {
          font-size: $font-links;
        }
      }
    }
  }
  .main-content-pending {
    @include table-media;
  }
  .main-content-orders {
    @include table-media;
    .pending-orders {
      .action {
        padding: 1em;
        p {
          display: inline;
        }
        button {
          float: right;
        }
      }
      td:nth-child(5) {
        border: none;
        border-radius: 0;
        border-top: $border-gray-pending;
      }
      td:nth-of-type(1):before {
        content: "Code";
      }
      td:nth-of-type(2):before {
        content: "Qty";
      }
      td:nth-of-type(3):before {
        content: "Price";
      }
      td:nth-of-type(4):before {
        content: "Ordered by:";
        @include inline-child();
      }
      td:nth-of-type(5):before {
        content: "Order Date:";
        @include inline-child();
      }
      td:nth-of-type(6):before {
        content: "Status:";
      }
    }
  }

  .item-management {
    box-sizing: border-box;
    margin: 32px 16px;
    .item-data {
      &-form {
        flex-direction: column;
      }
      &-button-container {
        padding-bottom: $xl;
      }
    }
  }
}


